{
  "electricity_status_on": "🟢 Електроенергія присутня\n💡 Світло вжє є %s\n\n⏳ Останнє оновлення: %s",
  "electricity_status_off": "🔴 Електроенергія відсутня\n💔 Світла немає вже %s\n\n⏳ Останнє оновлення: %s",
  "electricity_turn_on": "💡 Електроенергію було увімкнено. Світла не було %s",
  "electricity_turn_off": "💔 Електроенергію було вимкнено. Світло було присутнє %s",
  "schedule_message": "🕒 Розклад планових відключень на завтра (%s):\n\n%s\nЦей графік не є на 100%% дійсним, та залежить від розпоряджень [Укренерго](https://t.me/Ukrenergo)",
  "schedule_message_continue": " (продовження)",
  "minutes_forms": ["хвилину", "хвилини", "хвилин"],
  "hours_forms": ["годину", "години", "годин"],
  "and": "і"
}